/*-- scss:rules --*/

// Special panel in "about-me" section
#overview {
  background-color: $brand-green0;
  padding: 1rem;
  border-radius: 1rem;
  
  h3 {
    display: none;
  }
}


section {
  text-wrap: balance;
  text-wrap: pretty;
}


section, .about-image {
  
  border-radius: 1rem;
  padding: 0.5rem 1rem;
    
  h3 {
    margin-top: 0.5rem;
  }
  
    
  // Highlight visually when focused (hover on desktop, touch on mobile)
  opacity: 0.5; 
  background-color: none;
  transition: opacity 0.2s linear, background-color 0.5s linear;
  
  &:hover, &:active {
    opacity: 1;
    background-color: $brand-green0;
    transition: opacity 0.2s linear, background-color 0.5s linear;
  }
  
  
  // "Bold" text on hover
  // ... but use text-stroke rather than font-weight, to avoid shift due to size
  p, li {
    &:hover, &:active {
      -webkit-text-stroke: 0.6px;
    }
  }
}


@import 'typed.css/typed.scss';

#task {
  color: $brand-green;
  @include typed(
    "advisory board reports and executive summaries",
    "congress materials (abstracts, booth content, intelligence reports, posters, presentations...)",
    "internal training materials",
    "meeting-in-a-box deliverables",
    "newsletters",
    "slide decks for in-field and internal use",
    "symposium and stand-alone meeting materials (presentations, agendas, invitations, briefing documents, e-blasts...)",
    "... something else?",
    (type: 0.05, pause-typed: 4, delete: 0.01, pause-deleted: 1),
    (caret-width: 2px)
  )
}
